
.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* header/ */
.header{
    background-image:url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    size: 5px;
}



/* nav styles */
/* all btn are hear// */

.color1{
    background-color:rgb(84, 144, 245);
    font-size: 20px;
    /* border: none; */
    padding: 10px 15px;
    border-radius: 8px;
}
.color1:hover{
    background-color:violet;
}

.color3{
    background-color:rgb(255, 194, 57);
    font-size: 20px;
    /* border: none; */
    padding: 10px 15px;
    border-radius: 8px;
}
.color3:hover{
    background-color: rgb(0, 100, 95);
}
.btn-container{
    text-align: center;
    margin-top: 20px;
}

.btn-primary1{
   width: 151px;
   height: 56px;
   align-items: center;
   margin-right: 30px;
   background-color: rgb(0, 106, 80);
   
}
.btn-primary1:hover{
    background-color: blueviolet;
}
.btn-primary{
    background-color: #006A50;
    font-size: 20px;
    /* border: none; */
    padding: 10px 15px;
    border-radius: 8px;
}
.btn-primary:hover{
    background-color: chocolate;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 160px;
    /* border-radius: ; */
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;

}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    text-decoration: none;
    font-size: 18;

}
.sing-color{
 color:#006A50;
 border-radius: 8px;
 border: 1px solid rgba(14, 14, 14, 0.493);
 padding:5px 5px ;
 color: aqua; 
 
}





/* banner-style */

.benner-greeting{
    font-size: 20px;
    font-weight: 600;
}
.banner-tittle{
    font-weight: bold;
    color: cadetblue;
}
.banner-profile-pic{
    width: 472.03px;
}
.banner-content{
 width: 622px;
}
.banner{
    /* color: aquamarine; */
    display:flex;
    justify-content: space-between;
    /* margin: 0px 100px; */
    width: 1280px;
    height: 360px;
    background-color: aquamarine;
    border-radius: 25px;
    padding: 80px 100px 80px 100px;
  


}
.about-item{
    border: 1px solid rgba(14, 14, 14, 0.15);
    gap: 5px;

}
.abot-item{
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.section-tittle{
font-size:40px;
font-weight: 600;
color: #141414;
}
.sectiom-description{

}
.text-center{
    text-align: center
}


/* main-styles */
.main{
    max-width: 1280px;
    margin:o auto ;
    gap: 80px;
}
main section{
    margin-top: 80px;
    margin-bottom: 120px;
}

/* about-style */
.card{
    size: top-lefgt;
}
.about-bd{
    padding: 80px ;
    /* text-align: center; */
    background-image: url();
    
}
.item-tittle{
   font-weight: 600; 
}
.about-itmes{
    display: flex;
    justify-content: space-around;
}


/* skills-section styles */
.skils-container{
    display: flex;
    justify-content: space-around;
    gap:14px ;
}
.skill{
  margin: 0px 24px;
padding:30px ;
border-radius: 16px;
}
.box-color1{
  background-color:rgba(84, 144, 245, 0.2) ;
}
.box-color2{
    background-color:rgb(198, 228, 214) ;
}
.box-color3{
    background-color: rgb(247, 235, 207);
}

.dr-yunns{
    background-color:rgb(255, 255, 255);
    width: 1280;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 5px;

}


/* news */

.recent-news{
    width: 1280px;
    background-color:rgb(255, 255, 255) ;
    gap: 20px;

}
.news-items{
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    /* padding: 10px; */

  
}

.news-items1{
    display: flex;
  
}
.news-content{
    /* display: flex; */
}
.recent-news1{
    display: flex;
    text-align: left;
    gap: 10px;
}

/* donate */
.description-donate{
    text-align: center;

}

.card-element{
    width:240px ;
    height: 128px;
   border-radius: 20px;
background-color: 
rgba(14, 14, 14, 0.15);
  align-items: center;
  display: flex;
}
.card-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.donate-card{
   /* margin-bottom: 20px; */
 justify-content: center;
}
 
 .card-element{
    text-align: center;
    justify-content: center;
    background-color:
    rgba(14, 14, 14, 0.15);
   width: 240px;
   height: 128px
   
   
 }
 .donate-title{
    text-align: center;
 }
.input-box{
  margin: auto;
  justify-content: center;
  align-items: center;
  padding:20px 800px 20px 40px ;
  gap: 20px;


}
.form-btn{
 /* align-items: center; */
 text-align: center;
 justify-content: center;
 margin-top: 10px;
}

.email-box{
    width:1000px ;
    height: 55px;
    margin: auto;

}
.subcribe{
    display: flex;
    justify-content: none;
}

.subcribe-box{
    background-color: rgb(198, 228, 214);
    border-radius: 24px;
    width:1280px;
    height:325px;
    align-items: center;
    padding:80px 100px 80px 100px ;

}

/* footer? */
.footer{
   /* padding:  50px 160px 50px 160px; */
   width: 1600px;
   height: 226px;
   text-align: center;
}


